.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    color: white
  }
}
.main_subject{
  font-size: calc(10px + 5vmin);
}
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-maincontent{
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-size: calc(2px + 2vmin);
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.liste_resto{
  background-color: #282c34;
  font-size: calc(5px + 2vmin);
  padding:5xp;
  align-items: baseline;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.title{
  font-size: calc(10px + 2vmin);
  color: rgb(233, 158, 18);
}
